<!DOCTYPE html>
<html lang="${lang}"
      th:lang="${lang}"
      th:with="lang=${#locale.language}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html-head">
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <script crossorigin="anonymous" type="module">import "https://cdn.skypack.dev/@hotwired/turbo@v7.0.0-beta.2";</script>

    <link href="/stylesheets/main.css" rel="stylesheet"/>
</head>
